@font-face {
    font-family:'HelveticaNeue';
    src: url('fonts/HelveticaNeue-Medium.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeue-Medium.woff') format('woff'),
         url('fonts/HelveticaNeue-Medium.ttf') format('truetype'),
         url('fonts/HelveticaNeue-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;     
}
@font-face {
    font-family: 'Pacifico';
    src: url('fonts/Pacifico-Regular.eot') format('embedded-opentype');
    src: local('Pacifico regular'), local('Pacifico-Regular'),
         url('fonts/Pacifico-Regular.svg') format('svg'),
         url('fonts/Pacifico-Regular.ttf') format('truetype'),
         url('fonts/Pacifico-Regular.woff') format('woff'),
         url('fonts/Pacifico-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;    
}
@font-face {
    font-family:'Bebas';
    src: url('fonts/Bebas-Regular.eot') format('embedded-opentype');
    src: local('Bebas Regular'), local('Bebas-Regular'), local('Bebas'),
         url('fonts/Bebas-Regular.svg') format('svg'),
         url('fonts/Bebas-Regular.ttf') format('truetype'),
         url('fonts/Bebas-Regular.woff') format('woff'),
         url('fonts/Bebas-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}