.details_container{
    padding: 10px;
    font-size: 14px;
}
.proyect_name{
    text-align: center;
    margin-bottom: 8px;
}
#portada_del_proyecto{
    width: 100%;
}
.recursos_container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 8.5px;
    background-color: lightskyblue;
    margin-bottom: 5px;
}
.recurso{
    width: 46%;
    margin: 4px;
}
.detail_part{
    margin-bottom: 15px;
}
.description_container{
    margin-bottom: 10px;
}
#progress_label{
    display: block;
    text-align: center;
}
#progress_bar{
    display: block;
    margin: 0 auto;
}
.top_socios_container{
    background-color: rgb(135, 206, 250);
    padding: 5px;
}
.perfil_socio{
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}
.imagen_socios_container{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    justify-content: space-around;
}
.item{
    margin: 8px 0px;
}
.top_socios_container a{
    font-size: 13px;
}
.action_items{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.action_items button{
    display: block;
}
.action_buttom{
    border: none;
    width: 130px;
    height: 50px;
    background-color: rgb(34, 197, 94);
    border-radius: 5px;
}
.owner_user_container{
    margin-bottom: 10px;
}
.perfil_owner{
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
}
.titulo_propietario{
    margin-bottom: 15px;
}
.username{
    text-align: center;
}
@media(min-width: 375px){
    .details_container{
        font-size: 16px;
    }
    .recursos_container{
        padding-left: 14.5px;
    }
}
@media(min-width: 425px){
    .recursos_container{
        padding-left: 16px;
    }
    .details_container{
        font-size: 17px;
    }
}
@media(min-width: 768px){
    .main_article_container{
        background-color:cadetblue;
        padding: 15px;
        border-radius: 8px;
    }
    .detail_part{
        display: flex;
        height: 280px;
        width: 700px;
        margin: 0 auto;  
    }
    #portada_del_proyecto{
        width: 350px;
    }
    .recurso{
        width:135px;
    }
    .recursos_container{
        display: flex;
        padding: 0px;
        flex-wrap: wrap;
        width: 350px;
        height: 280px;
        padding-left: 32px;
    }
    .proyect_name{
        text-align: start;
    }
    .description_container{
        margin-bottom: 0px;
        width: 350px;
        text-align: start;
    }
    .subtitle{
        margin: 10px 0px;
    }
    .descripcion_text{
        background-color: lightblue;
        padding: 8px;
        border-radius: 5px;
    }
    .progress_container{
        padding-top: 60px;
        padding-left: 50px;
        padding-right: 50px;
        background-color:chocolate;
        height: 150px;
        margin: 10px 0px 0px 50px;
    }
    .second{
       height: 200px;
    }
    .top_socios_container{
        width: 350px;
        height: 130px;
    }
    .action_items{
        margin-left: 50px;
        height: 130px;
        overflow: hidden;
        margin-top: 0px;
        padding-top: 40px;
        gap: 8px;
    }
    .third{
        height: 200px;
    }
    .owner_user_container{
        margin-left: 10px;
        width: 350px;
        text-align: center;
        background-color: lightblue ;
        position: relative;
    }
    .date_container{
        position: absolute;
        left: 450px;
        top: 850px;
    }  
}
@media(min-width: 1024px){
    .owner_user_container{
        margin-left: 135px;
    }
    .date_container{
        left: 550px;
    }
}
@media(min-width: 1440px){

    .owner_user_container{
        margin-left: 345px;
    }
    .date_container{
        left: 750px;
    }
}
@media(min-width: 1500px){
     .owner_user_container{
        margin-left: 385px;
    }
    .date_container{
        left: 800px;
    }
}