#inp_categorias{
   display: none;
}
.navegacion_categorias label{
    display: block;
    text-align: center;
    border: 1px solid black;
    background-color: grey;
}
.lista_navegacion{
    text-align: center;
    display: none;
}
.lista_navegacion li{
    margin-top: 20px;
    border-bottom: 1px solid black;
}
.lista_navegacion li > a{
    text-decoration: none;
    color: black;
}
#inp_categorias:checked + .lista_navegacion{
    display: block;
}
.titulo_destacados{
    text-align: center;
    margin-top: 15px;
    padding-left: 5px;
}
.item{
    font-size: 14px;
    background-color: #ECFDF5;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}
.portada_proyecto{
    width: 280px;
}
article img{
    display: block;
}
.proyectos_preview_container{
    padding: 20px;
}
.datos_container{
    padding: 10px;
    position: relative;
}
#imagen_perfil_usuario{
    width: 50px;
    height: 50px;
    border-radius: 40px;
}
.item p.nombre_usuario{
    position: absolute;
    top: 138px;
    left: 70px;
}
.dato{
    margin-bottom: 10px;
}
.datos_container :last-child{
    text-decoration: none;
}
.proyectos_preview_container :last-child{
    margin-bottom: 0px;
}
@media(min-width: 375px){
    .portada_proyecto{
        width: 100%;
    }
}
@media(min-width: 768px){
    /*seccion de categorias*/
    .navegacion_categorias label{
        display: inline-block;
        border: none;
        background-color: white;
    }
    .lista_navegacion{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding-bottom: 18px;
        width: 80%;
    }
    .lista_navegacion li{
        margin-left: 10px;
    }
    .navegacion_categorias{
        display: flex;
        align-items: center;
        margin-left: 33%;
    }
    #inp_categorias:checked + .lista_navegacion{
        display: flex;
    }
    /*seccion de los proyectos*/
    .proyectos_preview_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .item{
        width: 220px;
        height: 230px;
        font-size: 11px;
    }
    .portada_proyecto{
        height: 100px;
    }
    .dato{
        margin-bottom: 3px;
    }
    #imagen_perfil_usuario{
        width: 30px;
        height: 30px;
    }
    .item p.nombre_usuario{
        top: 83px;
        left: 45px;
    }
    .titulo_destacados{
        text-align: start;
        padding-left: 20px;
    }
}
@media(min-width: 1024px){
    .navegacion_categorias{
        margin-left: 35%;
    }
}
