.footer{
    background-color: grey;
    height: 30px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: space-around
}
.footer a{
    text-decoration: none;
    color: black;
}
.footer>a{
    text-decoration: underline;
}
@media(min-width: 375px){
    .footer{
        font-size: 13px;
    }
}
@media(min-width: 425px){
    .footer{
        font-size: 14px;
    }
}
@media(min-width: 1024){
    .footer{
        font-size: 15px;
    }
}