.items_container{
    padding: 10px;
}
.portada_proyecto{
    width: 100%;
}
#titulo_categoria{
    padding-left: 10px;
    margin-top: 10px;
}
.navigation_pages{
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

}
@media(min-width: 768px){
    .items_container{
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        width: 700px;
        margin: 20px auto 0px;
    }
    .item{
        margin-right: 8px;
    }
    .items_container :last-child{
        margin-right: 0px;
    }
}
@media(min-width: 1024px){
    .item{
        height: 230px;
    }
}
