body,html{
    height: 100%;
}
body{
    background-image: url('../../imagenes/fondos/fondoFormularios.png');
    background-repeat: repeat;
    background-size: 90px;
}
.banner{
    background-color: #065F46;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    justify-content: space-between;
}
.logo{
    font-size: 25px;
}
.main_container{
    background-color: lightblue;
    height: 200px;
    width: 280px;
    margin: 120px auto 0px;
    padding-top: 20px;
    border-radius: 5px;
}
.formulario input{
    display:block;
    margin: 20px auto 0px;
    text-align: center;
}
.titulo{
    font-size: 25px;
    text-align: center;
}
.navegacion{
    font-size: 10px;
    display: flex;
    width: fit-content;
    margin: 15px auto 0;
}
@media(min-width: 375px){
    .main_container{
        width: 330px;
    }
}
@media(min-width: 1024px){
    .banner{
        padding-left: 30px;
        padding-right: 30px;
    }
}

